
<form asp-action="Index" enctype="multipart/form-data">
<label >Nhâp ID </label>
<input type=" text " name ="StudentID">
<label >Nhập họ và tên </label>
<input type="text" name =" FullName ">
<label >Nhập ngày sinh </label>
<input type="text" name="NgaySinh" >
<input type="submit" value="Gửi dữ liệu">
</form>
<h3> Hiện thị thông tin : @ViewBag.Message</h3>
